body{
background: linear-gradient(263.18deg, #160524 7.9%, #002E78 83.53%);
}

header{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: calc(1.3*28px);

position: absolute;
width: calc(1.3*1340px);
height: 84px;
left: 69px;
top: 53px;
}

.Logo{
position: absolute;
width: calc(1.3*61.64px);
height: calc(1.3*32px);
left: 0px;
top: calc(1.3*5px);

}

.Search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    position: absolute;
    width: calc(1.3*480px);
    height: calc(1.3*55px);
    left: calc(1.3*133px);
    top: calc(1.3*5px);

    background: rgba(235, 235, 235, 0.1);
    border-radius: 15px;
    }

.Lupa{
    width: calc(1.3*32px);
    height: calc(1.3*32px);
    text-align: center;


}

.Text{
width: calc(1.3*131px);
height: calc(1.3*23px);
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: calc(1.3*15px);
line-height: calc(1.3*22px);
color: rgba(235, 235, 235, 0.6);
flex: none;
order: 1;
flex-grow: 0;
text-align: center;
}

.date{
position: absolute;
width: calc(1.3*113px);
height: calc(1.3*30px);
font-size: calc(1.3*20px);
line-height: calc(1.3*30px);
color: #EBEBEB;
right: 40%;
}

.daymode{

position: absolute;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 5px;

right: 30%;
width: 121.99px;
height: calc(1.3*30px);
color: white;
}






.motivation{
    position: absolute;
    right: 0%;
    width: calc(1.3*367px);
    height: calc(1.3*30px);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: calc(1.3*20px);
    line-height: calc(1.3*30px);
    color: rgba(235, 235, 235, 0.9);
    flex: none;
    order: 3;
    flex-grow: 0;
    }


.greeting{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 236px;

position: absolute;
width: 1219.83px;
height: 312.43px;
left: calc(50% - 1219.83px/2 - 0.08px);
top: 140px;
color: white;
}

.greetingtext{
/* amin */

width: 500px;
height: 262px;
font-size: 20px;
}
